body {
  background-color: rgb(22, 23, 27);
  font-family: Arial, sans-serif;
  color: #333;
}

.links {
  width: fit-content;
  margin: auto;
}
a:visited {
  color: #bcbcbc;
}

.links1 {
  background-color: blue;
}
